{% extends "layouts/base.twig" %}

{% block content %}
    <div class="container-fluid g-5 mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">List of Vacations</h5>
                        {% if session('user').role.name != 'Manager' %}
                            <a href="/vacations/create" class="btn btn-primary btn-sm float-end">Create</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if vacations is not empty %}
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    {% if session('user').role.name == 'Manager' %}
                                        <th>Name</th>
                                    {% endif %}
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Duration</th>
                                    <th>Reason</th>
                                    <th>Requested At</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for vacation in vacations %}
                                    <tr>
                                        {% if session('user').role.name == 'Manager' %}
                                            <td>{{ vacation.user.name }}</td>
                                        {% endif %}
                                        <td>{{ vacation.start_date }}</td>
                                        <td>{{ vacation.end_date }}</td>
                                        <td>{{ vacation.duration }} Day(s)</td>
                                        <td>{{ vacation.reason }}</td>
                                        <td>{{ vacation.created_at }}</td>
                                        <td>{{ vacation.status }}</td>
                                        <td>
                                            {% if vacation.status == 'Pending' %}
                                                {% if session('user').role.name == 'Manager' %}
                                                    <a href="/vacations/{{ vacation.id }}/approve" data-bs-toggle="tooltip" data-bs-title="Approve"><i class="bi bi-check-lg text-success"></i></a>
                                                    <a href="/vacations/{{ vacation.id }}/reject" data-bs-toggle="tooltip" data-bs-title="Reject"><i class="bi bi-x-lg text-danger"></i></a>
                                                {% else %}
                                                    <span data-bs-toggle="tooltip" data-bs-title="Delete">
                                                        <a data-bs-toggle="modal" data-bs-target="#confirmation-modal" href="#" data-href="/vacations/{{ vacation.id }}/delete" data-message="Are you sure you want to delete this vacation?">
                                                            <i class="bi bi-trash text-danger"></i>
                                                        </a>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No vacations found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/_modal.twig' %}
    {% include 'partials/_toast.twig' %}
{% endblock %}

{% block scripts %}
    <script src="/js/modal.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/tooltip.js"></script>
{% endblock %}